* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 48px 66px;
}

main {
    max-width: 1120px;
    margin: 0 auto;
}

h1 {
    text-align: left;
    color: #2c3e50;
    margin: 48px 0 40px;
}

.red-h1 {
    font-size: 16px;
    color: red;
}

.desc-image {
    margin: 40px auto;
}

#princ-image {
    width: 100%;
    height: 660px;
    border-radius: 28px;
}

figcaption {
    text-align: center;
    margin-top: 12px;
    font-style: italic;
    color: #555;
}
