* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 48px 66px;
}

main {
    max-width: 1120px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    text-align: left;
    color: #2c3e50;
    margin: 48px 0 40px;
    line-height: 35px;
}

.red-h1 {
    font-size: 16px;
    color: red;
    text-transform: uppercase;
}

.desc-image {
    margin: 40px auto;
}

#princ-image {
    width: 100%;
    height: 660px;
    border-radius: 28px;
}

figcaption {
    text-align: center;
    margin-top: 12px;
    font-style: italic;
    color: #555;
}

.text-info {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #444;
}

hr {
    margin: 40px 0;
}

.list {
    margin: 64px 0;
}

.images {
    width: 100%;
    max-height: 350px;
    border-radius: 28px;
}

h3 {
    font-size: 1.5em;
    color: #34495e;
    margin-bottom: 12px;
}

.info-list {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 24px;

}
.text-list {
    font-size: 16px;
}

.list-text {
    font-size: 16px;
    color: #2980b9;
}

.final-text {
    font-size: 18px;
    color: #444;
    text-align: center;
}

footer {
    margin: 48px 0;
}

footer > p {
    text-align: center;
    color: #777;
}

footer a {
    color: #494949;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}